/*--------------------------------------------------------------
Typographic styles for the post editor
--------------------------------------------------------------*/

.mceContentBody {
	font-size: 20px;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.5;
	padding: 0 1%;
	max-width: 700px;
}

.mceContentBody h1,
.mceContentBody h2,
.mceContentBody h3,
.mceContentBody h4,
.mceContentBody h5,
.mceContentBody h6 {
	clear: both;
	font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;
	line-height: 1.2;
	margin-bottom: 3%;
}

.mceContentBody h1 {
    font-size: 50px;
}

.mceContentBody h2 {
    font-size: 40px;
}

.mceContentBody h3 {
    font-size: 30px;
}

.mceContentBody h4 {
    font-size: 20px;
}

.mceContentBody h5 {
    font-size: 16px;
}

.mceContentBody h6 {
    font-size: 14px;
}

hr {
	background-color: #f6f6f6;
	border: 0;
	height: 2px;
	margin: 5% 0;
}

.mceContentBody blockquote {
	position: relative;
	margin: 0 0 4% 0;
	z-index: 1;
}

.mceContentBody blockquote p {
	font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 32px;
	font-style: italic;
	font-weight: 300;
	margin: 1em 0 0 0;
	padding-right: 10%;
	position: relative;
}

.mceContentBody blockquote p:before {
	border: solid 2px #D4DAE0;
	border-radius: 100px;
	color: #D4DAE0;
	content: "\201C";
	font-size: 70px;
	font-style: normal;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 75px;
	text-align: center;
	position: absolute;
	right: 1%;
	top: 2%;
	height: 46px;
	width: 46px;
}

.mceContentBody ul, .mceContentBody ol {
	margin: 0 0 5% 25px;
	padding-left: 0;
}

.mceContentBody ul { list-style: square; }

.mceContentBody ol { list-style: decimal }

.mceContentBody ul ul,
.mceContentBody ol ol,
.mceContentBody ul ol,
.mceContentBody ol ul {
	margin: .6em 0 0 1.5em;
}

.highlight {
	background: #fff198;
	color: #404040;
}

/*--------------------------------------------------------------
Table Styles
--------------------------------------------------------------*/

table {
	font-size: 18px;
	margin-bottom: 5%;
	padding: 0;
	width: 100%;
}

table thead {
	background: #f7f7f7;

	th { font-weight: bold }
}

table td, #content table th { padding: 10px }

table td { border-bottom: solid 1px #f7f7f7 }

table tr:last-child td { border-bottom: none }

table tr:nth-child(even) { background: #f7f7f7 }

/*--------------------------------------------------------------
Code Styles
--------------------------------------------------------------*/

pre {
	background: #F5F5F5;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 18px;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}
code, kbd, tt, var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

/*--------------------------------------------------------------
Alignments
--------------------------------------------------------------*/

.alignleft {
	display: inline;
	float: left;
	margin: .5em 2em 0 0;
}
.alignright {
	display: inline;
	float: right;
	margin: .5em 0 0 2em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

.pull-right {
	float: right;
	margin: 1% 0 3% 5%;
	text-align: right;
}

.pull-left {
	float: left;
	margin: 0 5% 3% 0;
	text-align: left;
}

.pull-right, .pull-left {
	width: 34%;
	font-weight: 400;
	line-height: 30px;
	font-size: 22px;
	text-transform: uppercase;
	font-style: italic;
}