/* Body Styles */

.mceContentBody {
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
	color: #6B747A;
    background: #fff;
    font-size: 18px;
    line-height: 1.6;
}

.mceContentBody h1, .mceContentBody h2, .mceContentBody h3, .mceContentBody h4, .mceContentBody h5, .mceContentBody h6 {
    clear: both;
    color: #4A545A;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0 0 3% 0;
    font-weight: 700;
}

.mceContentBody h1 {
	font-size: 36px;
}

.mceContentBody h2 {
	font-size: 30px;
 }

.mceContentBody h3 {
	font-size: 22px;
}

.mceContentBody h4 {
	font-size: 20px;
}

.mceContentBody h5 {
	font-size: 16px;
}

.mceContentBody h6 {
	font-size: 14px;
}

.mceContentBody p {
	margin-bottom: 3%;
}

.mceContentBody img {
	max-width: 100%;
}

/* Blockquote Styles */

.mceContentBody blockquote {
	position: relative;
    border-top: solid 8px #DFE7EC;
}

.mceContentBody blockquote p {
	text-align: right;
    position: relative;
    z-index: 10;
    font-size: 20px;
    line-height: 30px;
    color: #9BA6AD;
}

/* List Styles */

.mceContentBody ul, .mceContentBody ol {
	margin: 0 0 4% 0;
    background: #f7f7f7;
    padding: 3% 3% 3% 5%;
    font-size: 16px;
}

.mceContentBody ul ul, .mceContentBody ul ol, .mceContentBody ol ul, .mceContentBody ol ol {
	padding: 0 0 0 8%;
    margin: 0 0 0 0;
}

.mceContentBody ul {
	list-style-type: square;
}

.mceContentBody ol li {
	list-style-type: decimal;
}

hr {
	border: 0;
    height: 1px;
    margin: 1.5em 0;
    border-top: dotted 1px #ddd;
}

/* Table Styles */

.mceContentBody table {
    border: dotted 1px #ddd;
    padding: 1%;
    margin-bottom: 4%;
}

.mceContentBody table td, .mceContentBody table th {
    padding: 10px;
    border: none;
}

.mceContentBody table td {
    border-bottom: solid 1px #f7f7f7;
}

.mceContentBody table tr:last-child td {
    border-bottom: none;
}

.mceContentBody table tr.odd {
    background: #f7f7f7;
}

/* Code Styles */

.mceContentBody pre {
    position: relative;
    background: #f7f7f7;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 1.6em;
    padding: 3%;
    overflow: auto;
    max-width: 100%;
    tab-size: 4;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Formatting Styles */

.alignright {
	margin: 5px 0 30px 30px;
}

.alignleft {
	margin: 5px 30px 30px 0;
}

.highlight {
	background: #fff198;
	color: #222;
}

.intro-text {
    font-size: 20px;
    color: #999;
}

.pull-right, .pull-left {
    width: 30%;
    font-weight: 400;
    line-height: 30px;
    font-size: 20px;
    border-top: solid 8px #DFE7EC;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
    color: #9BA6AD;
}

.pull-right {
    float: right;
    margin: 1% 0 3% 3%;
    padding: 2% 0 0 2%;
    text-align: right;
}

.pull-left {
    float: left;
    margin: 1% 5% 3% 0;
    padding: 2% 2% 0 0;
    text-align: left;
}

.wp-caption {
    border: 1px solid #eee;
    padding: 2%;
    padding-bottom: 0;
    max-width: 100%;
}